@{
    Layout = "~/Views/Shared/_AuctionsPage.cshtml";
}
@model KP_Auction.ViewModel.StartViewModel

@{
    if (Model.deals.Count() != 0)
    {
        KP_Auction.Models.DealModel upperDeal = Model.deals.First();
        <div class="auct-block" style="margin: 0 40% 5px 40%; text-align: left;">
            Item: @upperDeal.Item<br />
            Seller: @upperDeal.Seller<br />
        </div>
        @Html.DropDownListFor(
                    model => model.currentByuer,
                    new SelectList(Model.participants, "Id", "FullName", Model.currentByuer),
                    new { @class = "form-control" })

        <div id="deal-info"></div>
        <button onclick="refreshInfo(@(upperDeal.Item_Id))">Click</button>

    }
    else
    {
        <center>
            <p>
                @Html.ActionLink("End auction", "Start", "AuctionManage", new { id = ViewBag.id }, new { @class = "btn btn-primary" })
            </p>
        </center>
    }

    if (Model.deals.Count() > 1)
    {
        <br />
        <hr />
        <br />
        for (int i = 0; i < Model.deals.Count() - 1; i++)
        {
            <div class="auct-block" style="margin: 0 40% 5px 40%; text-align: left;">
                Item: @Model.deals.ElementAt(i+1).Item<br />
                Seller: @Model.deals.ElementAt(i + 1).Item<br />
            </div>
        }
    }
}


<script>
    function refreshInfo(Id) {

        $.ajax({
            url: `/AuctionManage/getItemInfo/${Id}`,
            type: 'POST',
            data: JSON.stringify({ id: Id }),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {
                $("#deal-info").text(result.Name);
            },
            async: true,
            processData: false
        });
    }
    
</script>
